.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 250px;
  background-color: #0a341c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}
.dropdown:hover .dropdown-content {display: block;}